{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div id="fos_comment_thread_wrapper">
	<div class="inner-wrapper">
		<h2 class="sub-title align-center pan man">Commentaires</h2>


		<div class="align-center fos-comment-header-buttons">
			<div class="comment-show-button">
				<a href="#fos_comment_thread_wrapper" class="button btn comment-btn-count" data-action="show-comments">
			            <svg class="icon icon-alone icon--l icon-dialog-icon"><use xlink:href="#icon-dialog-icon"></use></svg>
			            <span>...</span>
			    </a>									
			</div>
			<div class="comment-action-buttons">
				<button class="btn fos_comments_close" data-action="hide-comments">
					<svg class="icon icon--xs icon-alone icon-cancel"><use xlink:href="#icon-cancel"></use></svg>
				</button>

				<button class="btn fos_comments_reload" data-action="reload-comments">
					<svg class="icon icon--xs icon-alone icon-spinner11"><use xlink:href="#icon-spinner11"></use></svg>
				</button>
			</div>
		</div>


		<div id="fos_comment_thread">
		</div>
	</div>
</div>
    {# {% javascripts %} #}
	{% javascripts '@FOSCommentBundle/Resources/assets/js/comments.js' %}
	<script type="text/javascript">
		// $(function() {
			// thread id
			var fos_comment_thread_id = '{{ id }}';

			// api base url to use for initial requests
			var fos_comment_thread_api_base_url = "{{ path('fos_comment_get_threads') }}";

			var $root = $('html, body');

			$("[data-action='show-comments']").on('click',function(){
					$(this).hide();
					$(".comment-action-buttons").show();
					$("#fos_comment_thread").show();
					$root.animate({
				        scrollTop: $( $.attr(this, 'href') ).offset().top
				    }, 500);			    
					return false;
			});
			
			$("[data-action='hide-comments']").on('click',function(){
					$("[data-action='show-comments']").show();
					$(".comment-action-buttons").hide();
					$("#fos_comment_thread").hide();
					
			});

			// Snippet for asynchronously loading the comments
			$("[data-action='reload-comments']").on('click',function(){
				launchComments();
			});

			$(function() {
			    launchComments();		    			
			})();
		// };



		function launchComments(){
			var fos_comment_script = document.createElement('script');
		    fos_comment_script.async = true;
		    fos_comment_script.src = '{{ asset_url }}';
		    fos_comment_script.type = 'text/javascript';

		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);

		    
		};


	</script>
	{% endjavascripts %}

