{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}
{% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_USER") %}
	{% include "FOSCommentBundle:Thread:comment_new_content.html.twig" %}
{% else %}
	<div class="fos_comment_infos tc pa3 pb5">
		<i class="">Il faut être connecté et en baskets pour pouvoir ajouter un nouveau commentaire</i>
	</div>
{% endif %}

