<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Le Marathon de la Semaine{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Pontano+Sans' rel='stylesheet' type='text/css'>
    {% block stylesheets %}

       <link href="{{ asset('tachyons/css/tachyons.css') }}" rel='stylesheet' type='text/css'>    
    {% endblock %}
  </head>



  <body class="bg--pierre">
    <div class="main-wrapper flex flex-auto h-100 w-100 mw6 center mt3">
      <div class="outset-frame_pl pa2">
        <div class="outset-frame_inner_pl pa3 pa4-l">
      {# <div class="self-center w-100"> #}
        <div class="">
          <h1 class="new-rocker f1 tc mt0">404</h1>
          <span class="tc db pb3">
            <h3 class="ma0">Le savais-tu?</h3>  
            <span class="f5">le jury du marathon est exclusivement composé de profs d'EPS.</span>
          </span>
        </div>
      
      <div class="">
          {% set webPath='bundles/tdsmarathon/images/groupeProfs.jpg' %}
          <img class="db w-100" src="{{ asset(webPath) }}" />
          
      </div>

      <div class="tc">
        <a class="button button-action ma2 mt3 f6" data-action="" href="{{ path('tds_home') }}">revenir à l'accueil</a>
      </div>
    </div>
    </div>
    </div>
  </body>
</html>