{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	{% import "TdSCoreBundle:Macros:vignettes.html.twig" as vignetteModule %}
	
	{% if theme is defined and theme is not null %}
		<div id="content" class="form-container">
			<div class="">
				<h1 class="ms-title">
					<svg class="self-center icon icon--s icon-plus fill-near-black mr2"><use xlink:href="#icon-plus"></use></svg>
					<span class="self-center">Ajout d'une chronique</span>
					<span class="button-becky db" data-btn-becky data-info="Bravo! Tu dois écrire une chronique, tu vas voir, c'est un peu compliqué.<br/>Si tu veux écrire un texte, c'est simple. <br/><br/> Si tu veux mettre une vidéo, par contre, je vais devoir rentrer dans le vif du sujet:<br/>Sur youtube, copie le lien 'iframe' (sous la vidéo -> partager -> onglet intégrer) puis sur cette page clique sur 'source' et copie.<br/> Le truc un peu bizarre, c'est qu'il faut directement valider sans recliquer sur 'source', alors si tu veux ajouter un texte, il vaut mieux le faire avant.<br/><br/>Si tu veux ajouter une image, il faut qu'elle soit sur l'internet. Copie son url (clique-droit->copier l'adresse de l'image) puis clique sur l'icone 'image' et colle le lien dans la boite de dialogue.<br/><br/>Ne t'inquiète pas trop car tu pourras modifier ta chronique autant de fois que tu veux sur la page du thème. Bravo d'avance!">
			            {% set webpath = "bundles/tdsbecky/images/rebecca.png" %}
			            <img class="w-100 db" src="{{ webpath | imagine_filter('becky_thumb') }}" alt="becky">
		          	</span>
				</h1>

				<div class="w-100 pb3 flex flex-auto justify-center">
				    <span class="self-center fw1 mr2 db">thème</span>
				    <div class="w-100 w-80-sm w-60-m w-50-l">
				    	{{ vignetteModule.vignette_line_theme(theme) }}
				    </div>
				</div>
			</div>

			{{ include('TdSMarathonBundle:Theme:formChronique.html.twig') }}
		</div>
	{% endif %}
{% endblock %}