{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}	
	<div class="bg--marbre">
		{% set autoplay = "true" %}
		{{ playlistWrapperModule.pl_theme(theme,null,tabIdTheme,theme.activate,autoplay,listeJoggeursScore) }}
	</div>
{% endblock %}