{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}	
	<div class="">
		{% set autoplay = "true" %}
		{{ playlistWrapperModule.pl_theme(theme,null,tabIdTheme,theme.statut,autoplay,listeJoggeursScore) }}
	</div>
{% endblock %}