{% macro footer() %}
	<footer class="footer-wrapper w-100 bg--pierre near-black f7  center tc relative">
		<div class="sep-herbe bg--herbe"></div>


		

		<div class="footer-creditskm pt3 z-2 relative">
			
			<div class="footer-credits db absolute bottom-0 w-100 tc pb2 pointer">
				<div class="footer-oldsite db w-100 tc pb1 pointer">
	      			<a href="http://lemarathondelasemaine.blogspot.fr/" target="blank">Nostalgique ? Va voir le vieux site</a>	      		
				</div>
	      		<span class="">&copy;&nbsp;2017 - Tiret du Six </span> /
	      		<span class="underline" data-action="credits">Crédits</span>	      		
		    </div>



		    
			<div class="footer-kilometrage w-100 absolute left-0 z-1">
				<div id="kilometrage-wrapper" class="kilometrage-wrapper near-black fw4 f7"></div>
				<div class="kilometrage-borne w-100"><span></span></div>
			</div>
		</div>	

		<div class="footer-joggeurs absolute top-0">
		    	<div class="jog jog2"></div>
		    	<div class="jog jog3"></div>
		    	<div class="jog jog4"></div>
		    	<div class="jog jog5"></div>
		    	<div class="jog jog6"></div>
		    	<div class="jog jog7"></div>
		    	<div class="jog jog8"></div>
		    	<div class="jog jog11"></div>
		    	<div class="jog jog12"></div>
		    	<div class="jog jog14"></div>
		    	<div class="jog jog15"></div>
		    </div>	
	
			
			<span class='footer-button no-underline near-black bg--pierre dib pa3 mr5 pointer center' data-action="jeveuxjogger">Je veux jogger</span>


			{# <a href="{{ path('tds_jeveuxjogger') }}" class='footer-button no-underline near-black bg--pierre dib pa3 mr5 pointer center'>Je veux jogger</a> #}
		
	</footer>

	<div class="jeveuxjogger-wrapper z-5" data-jeveuxjogger></div>
	<div class="credits-wrapper z-5" data-credits></div>
{% endmacro %}