{% macro footer() %}
	<footer class="footer-wrapper w-100 bg--pierre near-black f7  center tc relative">
		<div class="sep-herbe bg--herbe"></div>

		<div class="pt5 z-2">
	    	<div class="flex flex-auto flex-wrap justify-end w-100">
		    	<div class="w-50 flex justify-end">
		    		<a class='footer-button no-underline near-black bg--pierre db pa3 mr5' href='mailto:lemarathondelasemaine@gmail.com'>Je veux jogger</a>
		    	</div> 

		    	{# <div class="w-50 flex justify-start">
		    		<a class='footer-button no-underline near-black bg--pierre db pa3 ml5' href='http://lesarchivesdumarathon.blogspot.fr/p/les-disques.html'>Télécharger les compils</a>
		    	</div> #}
	    	</div>
	    		  	

			<div class="footer-credits db absolute bottom-0 w-100 tc pb3 pointer">
	      		<span class="">&copy;&nbsp;2017 - Tiret du Six </span>
	      		<span class="" data-action="credits">Crédits</span>
	      		
		    </div>

		</div>

	    <div class="footer-joggeurs absolute top-0">
	    	<div class="jog jog2"></div>
	    	<div class="jog jog3"></div>
	    	<div class="jog jog4"></div>
	    	<div class="jog jog5"></div>
	    	<div class="jog jog6"></div>
	    	<div class="jog jog7"></div>
	    	<div class="jog jog8"></div>
	    	<div class="jog jog11"></div>
	    	<div class="jog jog12"></div>
	    	<div class="jog jog14"></div>
	    	<div class="jog jog15"></div>
	    </div>

		<div class="footer-kilometrage w-100 absolute left-0 z-1">
			<div id="kilometrage-wrapper" class="kilometrage-wrapper near-black fw4 f7"></div>
			<div class="kilometrage-borne w-100"><span></span></div>
		</div>		
	</footer>
	
	<div class="credits-wrapper z-5" data-credits></div>
{% endmacro %}