{% macro footer() %}
	<footer>
	    <div class="footer-wrapper ptm">
	    	<div class="btns-footer flex-container-h ">
		    	<div class="flex-item-center">
		    		<a class='btn btn-footer pas' href='{{ path('tds_participate') }}'>Je veux jogger</a>
		    	</div> 

		    	<div class="flex-item-center">
		    		<a class='btn btn-footer pas' href=''>Télécharger les compils</a>
		    	</div>
	    	</div>
	    	
	  	</div>

	  	<div id="kilometrage-wrapper" class="kilometrage-wrapper"></div>

			<div class="footer-credits">
	      		<span>&copy;&nbsp;2015 - Tiret du Six </span>
	      		<span class="pull-right">Mentions Légales</span>
	      	</div>
	</footer>
{% endmacro %}