{% macro footer() %}
	<footer>
	    <div class="footer-wrapper ptm">
	    	<div class="btns-footer flex-container-h ">
		    	<div class="flex-item-center">
		    		<a class='btn btn-footer pas' href='mailto:lemarathondelasemaine@gmail.com'>Je veux jogger</a>
		    	</div> 

		    	<div class="flex-item-center">
		    		<a class='btn btn-footer pas' href='http://lesarchivesdumarathon.blogspot.fr/p/les-disques.html'>Télécharger les compils</a>
		    	</div>
	    	</div>
	    	
	  	

		  	<div id="kilometrage-wrapper" class="kilometrage-wrapper"></div>

			<div class="footer-credits">
		      		<span class="pls prs">&copy;&nbsp;2015 - Tiret du Six </span>
		      		<span class="pull-right btn-credits pls prs" data-action="credits">Crédits</span>
		      		<div class="credits-wrapper" data-credits></div>
		    </div>
		</div>
	</footer>
{% endmacro %}