{% macro delete_popup() %}
	<div class='popup-delete-confirmation dn' data-popupdelete>
			<div class="dt fixed aspect-ratio--object bg-black-40">
		        <div class="dtc v-mid ">
		        	<div class="pa3 bg-near-black center tc w-auto mw5">
		            	<p class="ms-fushia mt0"></p>
		            	<a id="btn-oui" href="" class="button">Oui</a>
		            	<a id="btn-non" href="" class="button">Non</a>
		        	</div>
		        </div>
	    	</div>
	</div>
{% endmacro %}