{% macro lois() %}
	<div class="col-regles pam pbxxl-screen">
		<h2 class="sub-title mt0">Les lois du Marathon</h2>
		<div class="sep--dashed pbm">
			<span><strong class="bold">Un morceau</strong> (poème, chanson, cri, blabla, instrumental, recette, râle, solo...) à composer dans la semaine, en rapport avec le thème, a envoyer avant les <strong class="bold">mercredi minuit</strong>.</span>
			<ol>
				<li>Le premier a poster gagne un max de points rapidité, mais <strong class="bold">chronique</strong> (vidéo, texte, dessin...) <strong class="bold">les morceaux de la semaine passée</strong>.</li>
				<li>Il ne peut pas être premier <strong class="bold">2 fois de suite, non mais</strong>.</li>
				<li>Le <strong class="bold">10ème</strong> à poster <strong class="bold">choisit le thème de la semaine suivante</strong>.
				</li>
			</ol>
			<span><i>Il n'est pas obligatoire de poster toutes les semaines, mais les points n'augmentent évidement pas, pardi.</i></span>
		</div>

		<h2 class="sub-title">Système de points</h2>
		<div>
			<span>
			Le premier à poster son morceau gagne <strong class="bold">x</strong> points, <strong class="bold">x</strong> étant le <strong class="bold">nombre de participants</strong>. Le deuxième <strong class="bold">x-1</strong>, le troisième <strong class="bold">x-2</strong>, etc...Jusqu'au dernier, qui gagne donc 1 point.<br/> 
			Mais attention !!! chaque participant donne <strong class="bold">10 points ♥</strong> à qui il veut (repartis ou pas) de la sélection de la semaine passée..S'il ne les donne pas à temps, <strong class="bold">ils lui sont retirés de son score</strong> ! bzbzzbaam, c'est fun.<br/><br/>
			Ainsi, même le dernier, s'il a composé un méga-tube ultra raccord avec le thème, <strong class="bold">peut gratter le haut du classement...</strong><br/> 
			SIMPLE COMME SAUCISSE! <strong class="bold">Le gagnant aura droit a un truc.</strong><br/><br/>
			<strong class="bold">New :</strong> Le marathon est sur mobile !<br/>
			</span>
		</div>
	</div>
{% endmacro %}
