{% macro lois() %}
	<div class="col-regles pas pbxxl-screen">
		<h2 class="sub-title">Les lois du Marathon</h2>
		<div class="sep--dashed">
			<span>Un morceau (poème, chanson, cri, blabla, instrumental, recette, solo, hymne...) a composer dans la semaine, en rapport avec le thème.</span>
			<ol>
				<li>1 - Le premier a poster gagne un max de points, mais chronique les morceaux de la semaine passée</li>
				<li>2 - Il ne peut pas être premier 2 fois de suite</li>
				<li>3 - Le 10ème a poster choisit le thème de la semaine suivante
				Il n'est pas obligatoire de poster toutes les semaines. Mais les points n'augmentent évidement pas, pardi.</li>
			</ol>
		</div>

		<h2 class="sub-title">Système de points</h2>
		<div>
			<span>
			Le premier a poster son morceau gagne x points, x étant le nombre de participants.Le deuxième x-1, le troisième x-2, etc...Jusqu'au dernier, qui gagne 1 point.Mais attention !!! chaque participant donne 6 points ♥ a qui il veut (repartis ou pas)<br/>
			*nouvelle règle : s'il donne pas ses points a temps, ils lui sont retirés de son score ! bzbzzbaam!*.<br/>
			Ainsi, même le dernier, s'il a composé un méga-tube ultra raccord avec le thème, peut rafler la mise...
			SIMPLE COMME SAUCISSE!
			...Et si je gagne j'aurai un cadeau.
			Lemarathondelasemaine@gmail.com
			</span>
		</div>
	</div>
{% endmacro %}
