{% macro saison(saison) %}
	<h3 class="sub-sub-title">Saison</h3>
		<div class="">
			{% if saison is defined and saison is not null and saison.statut == 1 %}
				<div>Saison en cours : {{ saison.titre }}</div>
				{% if is_granted("ROLE_SUPER_ADMIN") %}
					<div class='closeSaison-wrapper'>
	        			<a id="closeSaison-grosBouton" data-action="show-brief-saison" class='button button-special black no-underline' href="#">
	        				<svg class="icon icon--l icon-toggle dib v-mid"><use xlink:href="#icon-toggle"></use></svg>	
	        				<span class="dib v-mid">Gros bouton qui ferme la saison pour toujours</span>
	        			</a>
	        			<div id="closeSaison-brief" class="dn">
	        				<span class="db dark-gray i">Es-tu sûr de fermer cette saison?<br/>
	        				Attention, Il vaut mieux fermer le thème en cours avant.<br/>
	        				Les Points bisous à donner seront remis à zéro sans qu'ils ne soient retirés du score de la saison précédente.<br/>
	        				</span>
	        				<div class="mv2">
	        					<a class="button pa2 btn-oui ms-fushia pa2" href="{{ path('tds_marathon_saison_disactive_validation') }}">oui</a>
		        				<a class="button btn-non ms-fushia pa2" href="">non</a>
		        			</div>
	        				
	        			</div>
	        		</div>
        		{% endif %}
			{% else %} 
				<div class="mv2">
					<svg class="icon icon--s icon-warning dib v-mid"><use xlink:href="#icon-warning"></use></svg>
					<span class="dark-gray i dib v-mid">Il n'y a pas de saison en cours.</span>
				</div>

				{% if is_granted("ROLE_SUPER_ADMIN") %}
					<div class="block mv2">
						<a class="button " data-action="" href="{{ path('tds_marathon_saison_add') }}">
								<svg class="icon icon--xs icon-plus"><use xlink:href="#icon-plus"></use></svg>
								<span class="">Ajouter une saison</span>
						</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
{% endmacro %}