{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="form-container">
		<h1 class="ms-title">
			<svg class="self-center icon icon--s mr3 fill-near-black"><use xlink:href="#icon-plus"></use></svg>
			<span class="self-center">Ajout d'un joggeur</span>
		</h1>
	    {{ include('TdSMarathonBundle:Joggeur:form.html.twig') }}
 	</div>
{% endblock %}
{# f2 ma0 tc b--dashed b--black-30 bb bt-0 br-0 bl-0 pb3 mb3 #}