{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="bg--lightgrey pam pbxxl">
		<h1 class="main-title man align-center">
			<svg class="icon icon--m icon-pencil"><use xlink:href="#icon-pencil"></use></svg>
			{% if joggeur == app.user.joggeur %}
				<span>Modification de mon profil</span>
			{% else %}
				<span>Modification d'un joggeur</span>
			{% endif %}
			<span class="button btn btn-default btn-becky mbs" data-info="Ici tu peux ajouter ou modifier tes infos.<br/>Tu peux renseigner ton site et ton mail, ils seront tous les deux visibles publiquement.<br/>N'oublies pas que le plus important, c'est d'être fun!">
	        	<svg class="icon icon-alone icon-becky"><use xlink:href="#icon-becky"></use></svg>
	        </span>
		</h1>
	    
	    {{ include('TdSMarathonBundle:Joggeur:form.html.twig') }}
 	</div>
{% endblock %}