{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div class="">

		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<div class="">
				<a class="button" href="{{ path('tds_marathon_joggeur_add') }}" >
					<svg class="icon icon--xs"><use xlink:href="#icon-plus"></use></svg>
					<span>Ajouter un joggeur</span>
				</a>
			</div>
		{% endif %}

		<h1 class="tc">joggeurs</h1>
			
			    
	    <div class="flex flex-auto flex-wrap">
		    {% for joggeur in listeJoggeurs %}
		    	{% if joggeur is not null %}
			    	<div class='w-50 w-10-ns pa1'>
					    {{ vignetteModule.vignette_joggeur(joggeur) }}
					</div>
			    {% endif %}
		    {% endfor %}
		</div>

		{% if is_granted("ROLE_SUPER_ADMIN") %}
			<div class='popup-delete-confirmation dn' data-popupdelete>
	            <div>
	                <p></p>
	                <a id="btn-oui" href="" class="button btn btn-action btn-default btn-delete-oui">Oui</a>
	                <a id="btn-non" href="" class="button btn btn-action btn-default btn-delete-non">Non</a>
	            </div>
	        </div>
    	{% endif %}
	</div> 
{% endblock %}