<div>
	{% import "TdSCoreBundle:Macros:scores-elements.html.twig" as scoresElementsModule %}


	{% if joggeurScore is defined and joggeurScore is not empty and joggeurScore is not null %}
		<div class="">
			{% set saison = "" %}
			{% for score in joggeurScore.scores %}
				{% if saison is empty %}
					{% set saison = score.theme.saison.titre %}
					<div class="b--dashed bt br-0 bl-0 bb-0">
					<div class="w-100 pt4">
						<h3 class="db f4 tc pa2 center ma0">{{ saison }}</h3>
					</div>
				{% endif %}


				{% if saison != score.theme.saison.titre %}
					{% set saison = score.theme.saison.titre %}
					</div>
					<div class="">
						<div class="w-100 pt4">
							<h3 class="db f4 tc pa2 center ma0">{{ saison }}</h3>
						</div>			
				{% endif %}

				{{ scoresElementsModule.ligne_score_theme(score) }}							
			{% endfor %}
			</div>
		</div>
	{% endif %}
</div>