{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	{% import "TdSCoreBundle:Macros:playlist-wrapper.html.twig" as playlistWrapperModule %} 
	
	<div class="">
		{% set autoplay = "true" %}

			
		{{ playlistWrapperModule.pl_joggeur(null,joggeur, joggeurPrec, joggeurSuiv, autoplay,saison,joggeurScoreSaison) }}
	</div>

	<script src="{{ asset('bundles/tdsmarathon/js/playlist-joggeur.js') }}" type="text/javascript"></script>	
{% endblock %}



