{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div class="">
		{% set autoplay = "true" %}
		{{ playlistWrapperModule.pl_joggeur(null,joggeur,tabIdJoggeur, autoplay,saison,joggeurScoreCurrSais) }}
	</div>

	<script src="{{ asset('bundles/tdsmarathon/js/playlist-joggeur.js') }}" type="text/javascript"></script>	
{% endblock %}



