{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
      <div id="content" class="container-fluid">               	
      		{% block tdsadmin_body %}
      		{% endblock %}
      </div>
{% endblock %}