{% extends "TdSCoreBundle::layout.html.twig" %}


{% block body %}
    
      <div id="content" class=""> 
           {% block tdsmarathon_body %}
      		{% endblock %}
      </div>
    
{% endblock %}