{% extends "TdSUserBundle::layout-admin.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsadmin_body %}
	 <div id="content" class="bg--lightgrey pam pbxxl">
	<h1 class='main-title align-center  man'>Modification de l'utilisateur: {{ user.username }}</h1>
		{{ include('TdSUserBundle:Admin:form.html.twig') }}
	</div>
{% endblock %}