button, .button, input[type="submit"],{
  padding: 0.5em;
  background: $grey1;
  border:none;
  cursor: pointer;
  display:inline-block;

  &:hover{
    color:$grey5;
  }

  &:focus {
    outline:0;
  } 
}





.btn-wrapper{
  width:100%;
}

.btn .icon {
	margin-right: 10px;
}

.btn .icon-alone {
  margin-right: 0;
}

.btn__label {
	display: inline-block;
	vertical-align: middle;

}

.btn__info{
  display:inline-block;
  vertical-align:middle;
  line-height:0.9em;
  background-color:$color10;
  color:$grey1;
}

.btn-double{
  display:flex;

  .flex-item{
    flex:1 1 50%;
  }

  .btn__info{
    flex:1 1 60%;
  }

  .btn-action{
    flex:1 1 40%;
  }
}

.btn-action, .btn-action-cancel{
  color: $color10;

  &:hover, &:active{
    color: $color19;
  }

&:visited{
  color: $color10;
}

 &:focus{
    color:$color2;
  }
}

.btn-view{
  color:$grey5;
} 

.btn-caret{
  background-color:transparent;
  border:none;
  cursor:pointer;

  .icon{
    transition-duration:0.25s;
  }  
}

.btn-caret.active .icon{
  transform:rotate(-90deg);
}

.btn-more{
  background-color:transparent;
  border:solid 1px;

  &:hover{
    background-color:$grey4;
    color:$grey1;
  }
} 

.social-share {
  overflow: hidden;
  margin-bottom: 1em; }
  .social-share li {
    float: left;
    margin-right: 0.5em; }
  .social-share a {
    background: #333333;
    color: white;
    display: block;
    padding: 0.5em; }
    .social-share a:hover {
      background: gray; }