.icon {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	fill: currentColor;
}

.icon--s {
	width: 20px;
	height: 20px;
}

.icon--l {
	width: 40px;
	height: 40px;
}

.icon--xl {
	width: 60px;
	height: 60px;
}