.index-wrapper {
   
}

.index-wrapper [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}




.tableau-bord{
	background-color:$grey1;
	

	.sub-title{
		text-align:center;
		margin:0;
		padding: 10px 0;
	}

}


.tableau-bord_col-gauche{
	color:$grey6;

	>.row{
		padding:20px;
	}
	
}



.panneau-infos{
	padding-bottom:20px;
	background-color:$color9;
}


.chroniques div.chroniques-list{
	display:none;
	/*padding-top:10px;
	border-top:#333 1px dashed;
	margin-top:10px;*/
}

.tableau-bord div.chroniques div.chroniques-list .col{
	/*background-color:transparent;
	margin-bottom:10px;
	padding-bottom:10px;
	border:solid #333;
	border-width:0 1px 1px 0;*/

}


.col-score{
	padding-bottom:20px;
	background-color:$color11;
}

.col-profil{
	padding-bottom:20px;
	background-color:$color5;
}













.tableau-bord .row{
  overflow: hidden;

}

.tableau-bord .row [class*="col-"]{
  /*margin-bottom: -99999px;
  padding-bottom: 99999px;*/
}


#closeSaison-brief{
	display:none;
}



.closeTheme-wrapper{
	
}

.activeTheme-wrapper .activeTheme-brief{
	display:none;
}










.index{
	background-color:$grey4bis;
	/*border:solid 1px $grey4;*/
	box-shadow:0 0 5px $grey4;

	.sub-title{
		text-align:center;
	}
}



.col-droite{
	background-image:url('../images/bg-marathonchanteurs.jpg');
	background-size:cover;
	background-repeat:repeat-y;
	display: flex;
}

.col-classement{
	color:$grey5;
	/*width:100%;*/


	>div{
		color:$grey1;
	}


	


	.round{
		border: solid 1px $grey2;
		box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
	}
    			
    

	.podium-wrapper{
		position:relative;
		top:0;
	}

	.podium {
		position: relative;
    	height: 350px;
    	top: 0;

		.inner-podium {
			height: 350px;
    		width: 100%;
    		display: block;
    		position: absolute;
    		bottom: 0;
    		left:0;

    		.colonne {
    			width:70%;
    			height:100%;
    			margin: 0 auto;
    			position: relative;
    		}

    		.thumbnail{
				display: block;
				width: 130%;
				margin-left: -15%;
				position: absolute;
				bottom: 75px;
				height: auto;
			}

    		

    		.place{
    			display: block;
    			text-align: center;
    			font-size: 2.5em;
    		}

    		.score{
    			display: block;
    			text-align: center;
    			font-size: 1.5em;
    			position: absolute;
    			bottom: 30px;
    			width: 100%;
    		}

    		.joggeur-name{
				display:block;
    			position:absolute;
    			bottom:5px;
    			width:100%;
    			text-align:center;
    			font-size:1.2em;
    			line-height: 0.8em;
    		}
		}		
	}
	

	.podium-1{
		z-index:6;

		.inner-podium {
			.colonne {
				background-color:$color11;
			}
			

			.thumbnail{
    			display: block;
    			width: 160%;
    			margin-left: -30%;    			
    		}	
		}		
	}

	.podium-2{
		.inner-podium {
			height: 330px;

			.colonne {
				background-color:$color12;
				
			}
		}
	}

	.podium-3{
		.inner-podium{
			height: 310px;

			.colonne{
				background-color:$color13;
			}
			
			
		}
	}


}

.walloffame {

	.wof-wrapper {
		width:100%;
	}

	.wof-item {
		max-width:50%;

		@media $medium{
			width:25%;
			
		}
	} 

	h4 {
		line-height:1.1em;
		word-wrap:break-word;
	}


   	strong {
   		display: block;
    	line-height: 1em;
   		font-size:0.8em;
   	}
}


.latotale{

}


.col-regles{
	background-color:$color11;
}

.col-gauche{
    display: flex;
    flex: 1 1 auto;
	flex-direction:column;
	background-image: url("../images/bg-marbre.jpg");
}


.col-joggeurs{
	background-color:$color16;
	color:$grey5;

	.button{
		color:$grey5;
	}

	.square {
		border:solid 1px $grey2;
	}
}

.col-articles{
	background:rgba(208,201,201,1);
	flex: 1 1 auto;
	padding:0;
	/*background:url('../images/playlist/playlist-bg.jpg');*/
	.more-articles-content{
		background-color:red;
	}
	

	.article-wrapper{
		padding:5px;

		&:first-child{
			width:100%;
		}

		.article-inner-wrapper{
			/*margin: 5px;*/
			background: white;
		}


		


		.article-titre{
			font-size:1.4em;
			text-align:left;
		}

		.article-date{
			color:$grey3;
			display:block;
			text-align:left;
			font-style:italic;
		}

		.content{
			width:100%;

			iframe, img{
				width:100%;
			}
		}
	}
}





.col-themes{
	flex: 1 1 auto;
	background-color:$color11;

	.vignette-item{
		width:100%;
	}

	.square{
		border-radius:0;
		border:none;
	}
}

.col-liens{
	background-image:url('../images/bg-marbre.jpg');
	color:$grey6;
	/*background-image:url('../images/bg-marathonchanteurs.jpg');
	background-size:cover;
	background-repeat:repeat-y;
	*/
	flex: 0 0 auto;

	.form-website{
		display:none;
		border-top:dashed 1px $grey5;

		input[type="text"] {
			color:$grey1;
		}

		input[type="submit"] {
			width:auto;
		}
	}
}







