.list{
	/*width:95%;
	margin:0 auto;*/
}


.list-item{
	position:relative;

	.thumbnail{
		color:$grey6;
    	border:none;
    	display:block;
    	width:100%;
    	height:100%;
	}

	

	.square {
		background-color:rgba(255,255,255,0.5);
		border:solid 1px $grey3;
		border-radius:5px;
	    position:relative;
	    width:100%;
	    overflow:hidden;
	    padding-bottom:100%;

		img {
	    	position:absolute;
	    	left: 0;
    		width: 100%;
		}
	}

	.round{
		border-radius:50%;
		overflow:hidden;
		width:100%;
		height:100%;

		img {
	    	
	    	left: 0;
    		width: 100%;
		}
	}
}




.inner-item-text{
	position:absolute;
	bottom:0;
	margin:0 auto;
	width:100%;
    background-color:$color5;
						
	&::before {
		content: '';
		background-image:url("../../tdsmarathon/images/bg-vignette.png");
		background-repeat:repeat-x;
		height:95px;
		width:100%;
		position:absolute;
		top: -50px;
	}

	h3{
		font-size:1.1em;
		font-weight:normal;
		text-align:center;
	}
}




.comment-count,
.musictitle-count {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	padding: 0 3px 3px 5px;

	.icon { padding: 7px; }

	span {
		transform: translateX(-3px);
	}
}






.btn-liste-delete{
	position:absolute;
	right:0;
	top:0;
	border-radius:0 5px 0 0;
}

.joggeur-list-item-logged{
	background-color:pink;
}



.col-draftmode-theme{
	overflow:hidden;

	.ribbon {
		
	}

	.square {
		background-color:$color1;

		img {
			opacity:0.6;
		}

	}
}