.list{
	/*width:95%;
	margin:0 auto;*/
}


.list-item{
	/*padding: 5px;*/

	.thumbnail{
		color:$grey6;
    	border:none;
    	display:block;
    	width:100%;
    	height:100%;
	}

	

	.square {
		background-color:rgba(255,255,255,0.5);
		border:solid 1px $grey3;
		border-radius:5px;
	    position:relative;
	    width:100%;
	    overflow:hidden;
	    padding-bottom:100%;

		img {
	    	position:absolute;
	    	left: 0;
    		width: 100%;
		}
	}

	.round{
		border-radius:50%;
		overflow:hidden;
		width:100%;

		img {
	    	
	    	left: 0;
    		width: 100%;
		}
	}
}




.inner-item-text{
	position:absolute;
	bottom:0;
	margin:0 auto;
	width:100%;
	height: 50px;
    background-color:$color5;
						
	.bg-vignette{
		background-image:url("../../tdsmarathon/images/bg-vignette.png");
		background-repeat:repeat-x;
		height:95px;
		width:100%;
		position:absolute;
		bottom:20px;
	}

	.inner-item-text-content{
		overflow:hidden;
		position:absolute;
		bottom:0;
		margin:0 auto;
		width:100%;
		
	}

	span{
		display:inline-block;
	}

	h3{
		font-size:1.1em;
		font-weight:normal;
		text-align:center;
	}
}








.musictitle-count{
	display:inline-block;
	vertical-align:bottom;
	height: 25px;
    width: auto;
    position:relative;
    bottom:3px;
    text-align:left;
    margin: 0 auto;
    border-radius:5px 5px 0 0;
    padding: 3px;
    /*color:$color2;*/
   	color:$grey5;

	.icon{		
    	height: 100%;
    	width: 20px;
    	display:inline-block;
    	vertical-align:middle;
	}

	.number{
		display:inline-block;
		vertical-align:middle;
		font-size:1em;
	}
}

.comment-count{
	display:inline-block;
	vertical-align:bottom;
	width:50px;
	height:25px;
	position:relative;
    bottom:5px;
	border-radius:5px 5px 0 0;
	color:$grey5;
	padding-top:3px;

	svg{
		width:20px;
		display:inline-block;
		vertical-align:middle;
	}

	span{
		display:inline-block;
		vertical-align:middle;
	}
}


.btn-liste-delete{
	position:absolute;
	right:0;
	top:0;
	border-radius:0 5px 0 0;
}

.joggeur-list-item-logged{
	background-color:pink;
}



.col-draftmode-theme{
	overflow:hidden;

	.ribbon {
		
	}

	.square {
		background-color:$color1;

		img {
			opacity:0.6;
		}

	}
}