.playlist-wrapper{
	/*background-image:url('../images/playlist/playlist-bg.jpg');*/
	/*max-width: 1440px;
    margin: 0 auto;*/

	.flex-container-h {
		flex-flow: row wrap;
		align-items:stretch;

		&:after {
		  content: "";
		  flex: auto;
		}

	}
}


.col-playlist-gauche{
	flex:0 1 100%;
	background-color:$color2;

	@media $medium{
		flex:1 1 50%;
	}
}

.col-playlist-gauche-th{

}

.col-playlist-droite{
	flex:0 1 100%;

	@media $medium{
		flex:1 1 50%;
		overflow-y: auto;
    	min-height: 0px;
    	display:flex;
    	overflow-x: hidden;
    	flex-flow: wrap column;
	}
}

.playlist-comments{
	display:none;
	
}


.playlist-header{
	position: absolute;
    bottom: 0;
    left: 0;
	background-color:rgba(209,207,208,0.5);
    width: 100%;
}

.playlist-header-image{
	background-color:rgba(150, 146, 146, 0.7);
	display: block;
	position: relative;
    width: 100%;
    min-height: 100%;
    padding-top: 100%;
    overflow: hidden;
  	/*max-width: 100%;
  	min-height: 500px;
  	height:100%;*/
} 

.playlist-header-links{
	width:100%;
	height:40px;
	display:flex;
	position:relative;
	top:-20px;

	.playlist-header-mail,
	.playlist-header-website{
		background-color:$grey0;
		color:$color12;
		cursor:pointer;
		max-width:46px;
		overflow:hidden;
		transition:max-width 200ms;

		a {
			display:flex;

		}

		span {
			overflow:hidden;
			flex:0 0 0%;
			margin: auto;
		}

		svg{
			flex:0 0 40px;
			margin:5px;
		}

		&:hover{
			max-width:50%;

			span {
				flex:1 1 auto;
			}

		}
	}

	.playlist-header-mail{
		flex:1 1 50%;
		text-align:right;

		a {
			align-items:flex-end;
		}
	}

	.playlist-header-website{
		flex:1 1 50%;
		margin-left: auto;
		color:$color6;

		a {
			align-items:flex-start;
		}
	}
}

.playlist-header-saison,
.playlist-header-date,
{
	position: absolute;
	top: -20px;
	padding: 10px;
}

.playlist-header-saison{
	background-color:$color3;
	color:black;
	left: 0;
}

.playlist-header-date,
.playlist-header-website {
	background-color:$grey0;
	color:$color2;
	right: 0;
}






.playlist-nav-prec,
.playlist-nav-suiv {
	position: absolute;
	top: -30px;
	/*background-color:$color5;*/
	background-color:$color17;
	color:$grey5;
	z-index: 2;

	&:hover {

	}
}

.playlist-nav-prec{
	left: 0;	
}
.playlist-nav-suiv{
	right: 0;
}



.playlist-header {

	h1{
		font-size: 2em;
    	margin: 0 0 10px 0;
    	
	}

	.author{
		font-size: 1.2em;    	
	}

	.author-name {
		i {
			color:$grey2;
			font-size: 0.9em; 
		}
	}
}




.playlist-body{
	position:relative;
	width:100%;
	

	@media $medium{
   		overflow-x:hidden;
   }
}


.playlist-scores{
	background-color:$color11;

	.wof-wrapper{

		.wof-item{
			flex:1;

			
			strong {
				opacity:0.8;
			}
			

			.score{
				font-size:1.4em;
			}

			.points{
				span{
					margin-right:0.5em;

					&:last-child{
						margin-right:0em;
					}
				}

				svg {
					margin-right:0.2em;
				}
			}
		}

	}

	.legende{
		width:100%;
		opacity:0.7;
		border:none;
		font-size:0.8em;
	}
	
}

.playlist-chronique{
	background-color:$color9;
	padding:20px;

}




.playlist-chronique-header{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:dashed 1px $grey3;

	.sub-title{
		text-align:left;
		padding-left:10px;
		display: inline-block;
    	vertical-align: middle;
	}

	.sub-title h4, .sub-title span{
		display:inline-block;
		vertical-align:middle;
	}

	.thumb-line{
		a{
			text-align:right;
		}

		.author-name {
			i {
				color:$grey2;
			}
		}
	}
}


.playlist-chronique-body{
	width:100%;
	padding-bottom:20px;

	@media $large{
			display: block;
   			width:80%;
   			margin:0 auto;
   	}

	iframe, img{
		width:100%;		
	}
}


.playlist-presentation{
	
	padding:1rem 1rem 0 
	width:100%;
	
	.playlist-presentation-inner{
		background-color:$color9;
	}

	p{
		margin:0;
		padding:0;
	}

	img{
		width:100%;
	}
}


.playlist-joggeur-score{
	padding:0.5rem;

	@media $large{
		padding:1rem;
	}



	.wof-wrapper {
		.score-item-theme{
			flex:0 1 33%;
			font-size:0.8em;

			/*@media $medium{
				
			}*/

			@media $large{
				flex:0 1 30%;
			}
		}
	}

	
}

.playlist-scores-header{
	/*border-bottom:dashed 1px $grey3;*/
	background-color:$grey1;
	color:$color2;
	margin:0 auto;

	h5 {
		font-size:1.2em;
		line-height:1em;
	}
}


.playlist-scores{
	.btn-more{
		width: 100%;
    	background: rgba(0, 0, 0, 0);
    	border: solid $grey2;
    	border-width:0 0 1px 0;
	}
	
}








.playlist-body-wrapper{
	/*max-width:1200px;
	margin:0 auto;*/
}










.jp-container{
	
	
}

.jp-container button{
	background-color:transparent;
	border:solid 1px darkgrey;
}


.jp-interface{
	padding:0 20px 20px 20px;
}




.jp-controls-holder{
		position:relative;
}

.jp-controls{
	width:100%;
	text-align:center;
	position:relative;
	top:10px;

	@media $medium{
		padding-top:10px;
   		top:0px;
   }

	button{
		background-image:url('../images/playlist/playlist-bg-btns.jpg');
		width:35px;
		height:35px;
		padding:5px;
		margin:0 2px;
		border:outset 1px white;
		cursor:pointer;

		&:hover{
			border:inset 1px white;
			color:$color9;
		}

		span{
			display:inline-block;
			width:100%;
			height:100%;
			margin:0;
		}
	}
}



.jp-timeline{
	margin-top:10px;

	.jp-title{
		font-size:1.2em;
		text-align:center;
	}
	
}

div.jp-seeking-bg {
  background-color:$color2;
  height:10px;
}

.jp-progress {	
  height:10px;
  overflow: hidden; 
}



.jp-seek-bar {
  background-color:$color10;
  height:10px;
  overflow: hidden;
  cursor: pointer; }

.jp-play-bar {
  background-color:$grey1;
  height:10px;
  overflow: hidden; }



.jp-current-time, .jp-duration {
	
}

.jp-current-time {
	
}

.jp-duration {
	 
}

.jp-video .jp-current-time {
}

.jp-video .jp-duration {
}


.jp-sub-toggles{
	width:100%;
}

.jp-volume-controls{
	display:none;

	@media $large{
		display:block;
	}
}


.jp-volume-controls button {
	background-color:transparent;
	width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;

	span{
		display:inline-block;
		width:100%;
		height:100%;
		margin:0;
	}
}


.jp-volume-bar{
	height:5px;
	background-color:darkgrey;
	cursor:pointer;
}

.jp-volume-bar-value {
	background-color:black;
	height:5px;
  }

.jp-toggles{


	button{
		background-color:$color4;

		padding:3px;
		border:outset 1px white;
		cursor:pointer;
		
	}

}




.jp-playlist{
	/*background-image:url('../images/playlist/playlist-bg.jpg');*/
	padding:1rem;

	@media $medium{
		overflow-y:auto;
		-webkit-overflow-scrolling: touch;
		height:auto;
		max-height:110vh;
		padding:0rem;
		min-height: 400px;
	    margin: 1rem;
	}
}


.jp-playlist li{
	border-bottom:solid 1px rgba(223, 227, 222, 1);
	padding:3px;
	background: linear-gradient(to bottom,rgba(255, 255, 255, 0.9) -18%,rgba(223, 227, 222, 0.9) 12%,rgba(223, 227, 222, 0.4) 181%);
}

.jp-playlist li a{
	color:$grey0;
}

.jp-playlist li a:hover{
	text-decoration:none;
}

.jp-playlist li a:focus{
	outline:none;
}

.jp-playlist li.jp-playlist-current{
	background: linear-gradient(to bottom,rgba(29,19,31,.9) -18%,rgba(6, 152, 91, 0.48) 12%,#CFD1D4 181%);

	.jp-artist{
		color:$grey1;
	}
}





.playlist-item .jp-title{
	display:block;
}



.playlist-item{	
	font-size:1em;
	border-bottom:solid 1px $grey3;
	
	.jp-playlist-item{
		display:flex;
	}

	.jp-title-artist{
		display:inline-block;
		vertical-align:middle;
		text-align:left;
		line-height:1.1em;
		margin: auto 0;
	}

	.jp-thumb, .jp-artist, .jp-theme{
		
		/*display:inline-block;
		vertical-align:middle;*/
	}

	.jp-title{
		font-size:1.3em;
		color:$grey1;
	}

	.jp-artist{
		color:$grey3;
		font-size:0.9em;
	}

	.jp-thumb{
		display:inline-block;
		vertical-align:middle;
		width:50px;
		height:50px;
		overflow:hidden;
		margin-right:10px;
		border:solid 1px $grey4;
		flex-shrink: 0;
		border-radius:3px;

		img{
			width:100%;
		}
	}
}


.playlist-index-wrapper{
	position:relative;

	@media $medium{
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
	    top: 50px;
	    left: 0;
	    position: fixed;
	    z-index: 100;
	}
}



.playlist-index-body{
	width:100%;
	display:flex;
	position:relative;
	z-index:1;


	@media $medium{
	    max-width: 900px;
	    width:100%;
	    height:88px;
	    background-color: rgba(221, 236, 234, 0.8);
	    margin: 0 auto;
	}



	.musicTitlesListe{
		display:none;
	}

	.jp-jplayer_index{
		width:100%;
	}



	.jp-container_index{
		width:100%;
		
		.jp-interface{
			background-color:transparent;
			padding:0px;
		}

		.jp-thumb-theme{
			height: 77px;
		    overflow: hidden;
		    padding: 0;
		    margin: 5px;

	    	img {
	    		height:100%;
	    	}
		}
	

		.jp-controls-wrapper{
			width:100%;

			@media $medium{
				width:auto;
				padding:0 20px 0 20px;
			}
		}

		.jp-timeline{
			margin-right:5px;
			width:100%;

			@media $medium{
				width:auto;
			}
		}
		
		.jp-controls{
			text-align:left;


			button{
				background-image:none;
				background-color:rgba(222,222,222,0.5);
				padding:0px;
				margin:3px;
				border:outset 1px white;
				cursor:pointer;



				&:hover{
					border:inset 1px white;
				}
			}
		}

		.jp-controls-buttons{
			@media $medium{
				width:100%;
			}
		}

		.jp-volume-controls {
			padding:3px;
		}

		.jp-volume-toggles {
			

			@media $medium{
				width:100%;
			}

			.btn {
				width: 10px;
    			height: 15px;
				border:none;
				padding-bottom:1px;
				background:transparent;

			}
		}

		.playlist-item{	
			padding:0;

			.jp-title{
				text-align:left;
				line-height: 1em;
			}

			.jp-playlist-item{
				display:block;
			}

			.jp-artist{
				color:$grey1;
				display:inline-block;
			}

			.jp-thumb-artiste{
				display:inline-block;
				margin:0;
			}
		}

		.jp-playlist{
			display:none;
		}	
	}

}


.playlist-wrapper{
	.creativec-lien{
		text-align: right;
	    padding: 1rem 0 0 0;

	    img {
	    	width:80px;
	    }
	}
}









