/*greys*/
$grey0 = #131212; /*gris noir */
$grey1 = #313131; /*gris très foncé*/
$grey2 = #3c3c3c; /*gris foncé*/
$grey3 = #787878; /*gris moyen*/
$grey4 = #939292; /*gris plus que moyen*/
$grey4bis = #D0C9C9; /*gris clair*/
$grey5 = #dedede; /*gris très clair*/
$grey6 = #f3f1f1; /*gris très très clair*/
$grey7 = #f5f5f5; /*gris blanc*/



/*colors*/
$color1 = #fd6274; /* rose fushia */  
$color2 = #8accc6; /* bleu turquoise */
$color3 = #009ee0; /* bleu */
$color4 = #f7d8d8; /* rose très clair */
$color5 = #6808a1; /* violet Foncé */
$color6 = #04e076; /* vert flashy */
$color7 = #e0ccaf; /* rosé */
$color8 = #f0e6e6; /*blanc rosé*/
$color9 = #06a19a; /*turquoise foncé*/
$color10 = #fd6274; /* rose action button */
$color11 = #ccc50c; /* moutarde */
$color12=#d548e6; /* rose mauve */
$color13=#0775bb; /* bleu foncé */
$color14=#f37239;  /* orange becky */
$color15=#DE2512; /* rouge vif */
$color16 = #8225B9; /* violet */
$color17 = #04C552; /* vert soutenu */
$color18 = #F9243D; /* rose fushia ++ */
$color19 = #BED5DE; /* bleu-gris clair */
$color20 = #1B3A3E; /* bleu très foncé */



