{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="bg--lightgrey pam pbxxl">
		<h1 class="main-title man align-center">
			<svg class="icon icon--m icon-add-music"><use xlink:href="#icon-add-music"></use></svg>
			<span>Ajouter un morceau</span>
			<span class="button btn btn-default btn-becky mbs" data-info="Ici tu peux ajouter ton morceau.Il faut qu'il soit en mp3. Evite les morceaux trop longs. Tu ne peux poster qu'un seul morceau par semaine et tu ne pourras pas le modifier ensuite.<br/> Si tu te rends compte que tu as fais une erreur ou que tu veux proposer un remix en plus, envoie un mail à Bob Marathon.">
            	<svg class="icon icon-alone icon-becky"><use xlink:href="#icon-becky"></use></svg>
          	</span>
		</h1>
		<h3 class="sub-title man align-center">Thème : {{ theme.titre }}</h3>
	    {{ include('TdSMarathonBundle:MusicTitle:form.html.twig') }}
 	</div>
{% endblock %}