{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="form-container">
	    <div class="ma0 tc b--dashed b--black-20 bb bt-0 br-0 bl-0 pb3 mb3 ">
	    	<div class="flex flex-auto justify-center">
		    	<h1 class="self-center pr2 ma0">
					<svg class="dib v-mid icon icon--s"><use xlink:href="#icon-add-music"></use></svg>
					<span class="dib v-mid">Ajouter un morceau</span>
				</h1>

				<div class="self-end">
	            	<span class="button-becky db"  data-info="Ici tu peux ajouter ton morceau.Il faut qu'il soit en mp3. Evite les morceaux trop longs. Tu ne peux poster qu'un seul morceau par semaine et tu ne pourras pas le modifier ensuite.<br/> Si tu te rends compte que tu as fais une erreur ou que tu veux proposer un remix en plus, envoie un mail à Bob Marathon." data-btn-becky>
	            		{% set webpath = "bundles/tdsbecky/images/rebecca.png" %}
	                	<img class="w-100 db" src="{{ webpath | imagine_filter('becky_thumb') }}" alt="becky">
	          		</span>
	          	</div>
	          </div>
			<h3 class="tc pv2 w-100 ma0">Thème : {{ theme.titre }}</h3>
		</div>

	    {{ include('TdSMarathonBundle:MusicTitle:form.html.twig') }}

 	</div>
{% endblock %}