{% extends "TdSMarathonBundle::layout.html.twig" %}

{% block title %}
  Marathon - {{ parent() }}
{% endblock %}

{% block tdsmarathon_body %}
	<div id="content" class="form-container">
	    <div class="ma0 tc b--dashed b--black-20 bb bt-0 br-0 bl-0 pb3 mb3 ">
	    	<div class="flex flex-auto justify-center">
		    	<h1 class="ms-title">
		    		<div class="w-100 w-auto-ns">
						<svg class="self-center icon icon--s mr3 fill-near-black"><use xlink:href="#icon-add-music"></use></svg>
						<span class="self-center">Ajouter un Morceau</span>
					</div>

					<div class="self-center ml2-ns center tc">
		            	<span class="button-becky db"  data-info="Ici tu peux ajouter ton morceau.Il faut qu'il soit en mp3. Evite les morceaux trop longs. Tu ne peux poster qu'un seul morceau par semaine et tu ne pourras pas le modifier ensuite.<br/> Si tu te rends compte que tu as fais une erreur ou que tu veux proposer un remix en plus, envoie un mail à Bob Marathon." data-btn-becky>
		            		{% set webpath = "bundles/tdsbecky/images/rebecca.png" %}
		                	<img class="w-100 db" src="{{ webpath | imagine_filter('becky_thumb') }}" alt="becky">
		          		</span>
	          		</div>
				</h1>				
	        </div>

			<div class="pb3">
		    	<h2 class="ma0 fw1">theme</h2>
		    	<div class="w-100 w-80-sm w-60-m w-50-l center">
		    		{{ vignetteModule.vignette_line_theme(theme) }}
		    	</div>
			</div>
		</div>

	    {{ include('TdSMarathonBundle:MusicTitle:form.html.twig') }}

 	</div>
{% endblock %}