
@media (--breakpoint-not-small){
    #header li:hover{
        background:var(--ms-silver-bleu);
        
    }

    .animation-easeout{
        transition: all .15s ease-out;
    }

    .animation-easein{
        transition: all .15s ease-in;
    }


    #header li:hover>span{
        color:var(--ms-gold);
    }

    #header li:hover>a{
        color:var(--ms-gold);
    } 

    .button-connexion:hover{
        color:white;
    }

    .button:hover, .button-action:hover{
        background-color:var(--ms-silver-bleu);
        color:var(--ms-gold);
    }

    .button:hover svg, .button-action:hover svg{
        fill:var(--ms-gold);
    }

    .button-special:hover{
        color:var(--near-black);
    }

    .button-becky:hover{
        background:var(--ms-silver-bleu);
        border:inset 1px lightgrey;
    }

    

    


    .button-switch:hover{
        background-color:var(--ms-silver-bleu);
    }


    .button-switch:hover span{
        color:var(--ms-gold);
    }


    .button-save:hover button{
        color:var(--ms-gold);
    }


    #chat-wrapper .button-chat:hover{
            background: linear-gradient( to bottom,#c982d8  20%, #f64aaa 65%, #fffc00 95% );
            border: inset 2px rgba( 255, 255, 255, .5 );
    }








    .button-player{
        transition: border .15s ease-out;
    }

    .button-player:hover{
        border:inset 1px rgba(255,255,255,0.8);
        /*background-image:url('../../bundles/tdsmarathon/images/bg-pierre.jpg');*/
    }

    .jp-progress:hover .jp-seek-bar,.jp-volume-bar:hover .jp-volume-bar-value{
        background-color:var(--ms-fushia);
    }


    .playlist-item-wrapper:hover{
            background: linear-gradient( 
                180deg, 
                rgba( 6, 161, 154, .5 ) -18%, 
                rgba( 253, 98, 116, .3 ) 12%, 
                rgba( 19, 181, 76, .3 ) 181% 
            );
    }







    .vignette-theme{
        overflow:hidden;
        transition: all .15s ease-out;
    }

    .vignette-theme .vignette-infos-theme{
        transition: all .15s ease-out;
    }

    


    .vignette-theme:hover .vignette-infos-theme, .vignette-theme:hover .vignette-iconchronique{
        background-color:var(--ms-fushia);
    }


    .vignette-theme:hover img{
        animation: bounce 0.15s ease alternate;
        animation-iteration-count: 2;
        opacity:0.6;
    }



    .vignette-joggeur{
        overflow:hidden;
        transition: all .15s ease-out;
    }


    .vignette-joggeur:hover .vignette-infos-joggeur{
        background-color:var(--ms-turquoise);
        color:var(--near-black);
    }


    .vignette-joggeur:hover img{
        animation: bounce 0.15s ease alternate;
        animation-iteration-count: 2;
        opacity:0.6;
    }

    .vignette-theme-line:hover{
        background-color:rgba(255,255,255,0.6);
    }

    .vignette-theme-line:hover .vignette-infos-theme-line>div{
        background-color:var(--ms-turquoise);
    }
    .vignette-theme-line:hover .vignette-infos-theme-line>div svg, .vignette-theme-line:hover .vignette-infos-theme-line>div span{
        fill:var(--near-black);
        color:var(--near-black);
    }


    .vignette-saison-liste:hover .ms-subtitle h3{
        background-color:var(--ms-gold);
        color:var(--near-black);

    }


    .vignette-saison-liste:hover .saison-liste_image{
        animation: bounce 0.15s ease alternate;
        animation-iteration-count: 2;
        opacity:0.6;
    }





    .podium-barre-bg{
        /*filter:brightness(100%);*/
        transition: all .15s ease-out;
    }
    

    .podium:hover .podium-barre-bg.bg-ms-bleu{
        background-color:#075c92;
    }
    .podium:hover .podium-barre-bg.bg-ms-vermillon{
        background-color:#ab4806;
    }
    .podium:hover .podium-barre-bg.bg-ms-purple{
        background-color:#b934ca;
    }

    .podium:hover .podium-celtic svg{
        fill:var(--near-black);
        /*animation: vibratetop 0.20s ease alternate;;
        animation-iteration-count: 2;*/
    }

    .podium:hover .medaillon-round{
        animation: bounce 0.15s ease alternate;
        animation-iteration-count: 2;
    }



    .wof-item_inner:hover{
        background-color: rgba( 241, 247, 3, .9 );
    }

    .wof-item_inner:hover .medaillon-round{
        animation: bounce 0.15s ease alternate;
        animation-iteration-count: 2;
    }



    .totale-score-item:hover, .ligne-score-item:hover{
        background-color:rgba(255,255,255,0.7);
        /*transition: all .15s ease-out;*/
    }

    .totale-score-item:hover .score-miniblock_horizontal>div, .ligne-score-item:hover .score-miniblock_horizontal>div{
        background-color:var(--ms-turquoise);
    }







    .list-websites li:hover{
        background-color:rgba(255,255,255,0.3);
    }



    .footer-button:hover{
        border:inset 1px white;
        transition: all .15s ease-out;
    }

}

.main-logo:hover{
   animation: bounce 0.15s ease alternate;
   animation-iteration-count: 3;
}
.button-lois:hover{
    animation: vibrate 0.05s  ease alternate;
   animation-iteration-count: 8;
}

.becky-img{
    position:relative;
    left:0;
}

.becky-img:hover{
   animation: vibratebecky 0.15s ease alternate;
   animation-iteration-count: 10;
}




@keyframes bounce{
     0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes vibrate{
     0% {
        left:0px;
    }
    100% {
        left:10px;
    }
}

@keyframes vibratetop{
     0% {
        top:0px;
    }
    100% {
        top:5px;
    }
}


@keyframes vibratebecky{
     0% {
        left:-10px;
    }
    100% {
        left:10px;
    }
}