/*STYLES*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a { color: inherit; }



body{
	overflow-x:hidden;
}


/*detection du device pour le js*/
#device{
	display:block;
}


@media (--breakpoint-not-small){
	#device{
		display:none;
	}
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: solid 1px var(--ms-fushia);
}


input[type='submit']:focus {
    outline: none;	
}


.pointerevents-none{
	pointer-events:none;
}

.pointerevents-all{
	pointer-events:all;
}

@media (--breakpoint-not-small){
	.pointerevents-all-ns{
		pointer-events:all;
	}
}


.wrapper{
	min-height:50vh;
	width:100%;
	/*overflow-x:hidden;*/
}


.wrapper .container-center{
	margin:0 auto;
	max-width:1440px;
	background-color:rgba(217, 239, 231, 0.5);
	border:solid $grey4;
	border-width:0 1px 0 1px;
	width:100%;		

}

.container-border-left{
	background-image:url('../../bundles/tdsmarathon/images/motif-border-g.png');
	background-repeat:repeat-y;
	background-position-x: right;
}

.container-border-right{
	background-image:url('../../bundles/tdsmarathon/images/motif-border-d.png');
	background-repeat:repeat-y;
}






/*BECKY*/

.button-becky{
	background-color:var(--ms-fushia);
	border:outset 1px white;
	border-radius:8px;
	text-decoration:none;
	height:50px;
	width:50px;
	cursor:pointer;
}

#button-becky-fixed{
	display:none;
}

@media (--breakpoint-not-small){
	#button-becky-fixed{
		display:block;
		position:fixed;
		bottom:5px;
		left:0;
		background-color:rgba(253, 98, 116, 0.8);
		padding:0.5rem 0.5rem 0 0.5rem;
		margin:0 0 0 1rem;
	}
}

#button-becky-fixed .becky-img{
	background-image:url('../../bundles/tdsbecky/images/rebecca-hot.png');
	background-size:cover;
	width:70px;
	height:94px;
}



#becky-wrapper .becky-img{
	background-image:url('../../bundles/tdsbecky/images/rebecca.png');
	background-size:cover;
	width:100px;
	height:134px;
}



/*POPUP*/
#popup{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(28, 31, 32, 0.7);
	display:none;
}





/*LOIS DU MARATHON*/
#lois-wrapper{
	position:fixed;
	overflow:scroll;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(28, 31, 32, 0.7);
	z-index:10;
	display:none;
}


/*@media (--breakpoint-not-small){
	#lois-wrapper{
		position:fixed;
	}
}*/




.balance{
	background-image:url('../../bundles/tdsmarathon/images/gifs/balance.gif');
	background-size: cover;
    background-repeat: no-repeat;
    width:75px;
    height:60px;
}

.justice{
	background-image:url('../../bundles/tdsmarathon/images/gifs/justice.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 210px;
}









/*BOUTON CHAT*/
@media (--breakpoint-not-small){
	#chat-wrapper{
		margin-right:1rem;
	}
}


#chat-wrapper .button-chat{
	display:block;
	background: linear-gradient(
		to bottom,#fffc00 20%,
		#f64aaa 65%,
		#c982d8 80%
	);
	border:inset 2px rgba(255,255,255,0.5);
	padding:0.5rem;
	width:100%;

	/*background-image: -webkit-linear-gradient(#fffc00 20%,#f64aaa 65%,#c982d8 80%);*/
}




/*HEADER*/

.hero{
	max-height:70vh;
	overflow:hidden;
}

@media (--breakpoint-medium){
	.hero{
		background-position:50% 40px;
	}
}





.nav-toggler {
    position: absolute;
    top: -1000px;
}

.nav-toggler__label {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 45px;
    padding:11px 6px;
    margin:0;
    z-index:-1;
    cursor: pointer;
    background-color:var(--near-black);
}

.nav-toggler__label svg{
	width:30px;
}

.nav-toggler:checked +  .nav-toggler__label {
	color: rgba(0,0,0,0.25);    
}

.nav-toggler:checked ~ div nav.navbar-header>ul{
    display:block;
}

.nav-toggler:checked ~ .navbar-header_wrapper .navbar-header{
	height: 100vh;
	overflow-y:scroll;
	overflow-x:hidden;	
}

select.mobile-nav{
	width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(data:image/svg+xml,%3Csvg%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20%20viewBox%3D%220%200%2032%2032%22%3E%0A%09%09%09%20%20%3Cpath%20fill%3D%22white%22%20d%3D%22M0%200v3h32v-3h-32zm0%2010v3h32v-3h-32zm0%2010v3h32v-3h-32z%22/%3E%0A%09%09%09%3C/svg%3E) no-repeat center/60%;
    font-size: 0;
}


.navbar-header_wrapper{
	position:fixed;
	top:40px;
}




@media (--breakpoint-not-small){
	.navbar-header_wrapper{
		position:relative;
		top:0px;
		overflow:initial;
	}

	.navbar-header {
		height: auto;
	}
}


.navbar-item{
	background-color:var(--near-black);
}


.navbar-first > li{
	line-height: 10px;
}

.navbar-second ul {		
	display:none;			
}

.navbar-second:hover ul, .navbar-second:focus ul, .navbar-second.active ul{
	display:block;
}

.navbar-second li{
	line-height: 20px;
}

@media (--breakpoint-not-small){
	.nav-toggler__label{
		display: none;
	}

	.navbar-first > li{
		line-height: 60px;
	}

	.navbar-first li{
		/*min-width: 4rem;*/
		cursor:pointer;
	}
	
}

@media (--breakpoint-medium){
	.navbar-first li{
		cursor:pointer;
		min-width: 6rem;
	}

	
}

    

@media (--breakpoint-large){
	.navbar-first li{
		min-width: 6rem;
	}
}






.button-connexion{
	margin-top: -0.7rem;
    padding-top: 0.7rem;
    font-size:0.9rem;
    width: 91px;
    height: 37px;
    background-image: url(../../bundles/tdsmarathon/images/header/button-connexion.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
} 


.navbar-header_saison span{
	display:flex;
	flex:0 1 auto;
	margin-bottom:0.1rem;
}

@media (--breakpoint-medium){
	.navbar-header_saison span{
		/*padding-right:0.5rem;*/
	}
}

.navbar-header_saison span:before, .navbar-header_saison span:after{
	content:' ';
	background-color:var(--ms-fushia);
	height:3px;
	width:100%;
	align-self: center;
	flex:1;	
}

.navbar-header_saison span:before{
	margin-right:0.5rem;
}

.navbar-header_saison span:after{
	margin-left:0.5rem;
}





.nav-points-bisous {
	position: absolute;
    top: 100%;
    margin-top: 3px;
}

.button-lois{
	position: absolute;
    top: 100%;
	margin-top: 10px;
	cursor:pointer;
}

@media (--breakpoint-not-small){
	.button-lois{
	    margin-top: 3px;
	}
}




.navbar-first li.button-lois{
	line-height:20px;
}


.button-lois a{
	border:outset 1px white;
}






.hero .saison-title{
	bottom: 130px;
    font-family: Metal Mania,cursive;
    font-size: 2.5rem;
    font-weight: 100;
    line-height: 0rem;
    width:100%;
	
}

.hero .saison-title h1{
	margin:0 auto;
}

.saison-title-shadow{
	color: black;
    position: absolute;
    width:100%;
    line-height: 6rem;
    text-shadow: -1px -1px 5px black;
    -webkit-text-stroke: #000 1px;
}

.saison-title-gradient{
	background-image: -webkit-linear-gradient(#fffc00 20%,#f64aaa 65%,#c982d8 80%);
    -webkit-background-clip: text;
    z-index: 1;   
    position: absolute;
    width:100%;
    line-height: 6rem;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

.hero .saison-title h3{
	position: relative;
    text-transform: uppercase;
    z-index: 2;
    color: #c982d8;
    top: 82px;
    font-size: 1.5rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}





.hero .hotfresh-wrapper{
	    bottom: 50px;
}

.hero .hotfresh-inner .button{
	max-height: 30px;
    padding: 0.2rem
}


@media (--breakpoint-medium){
	.hero .logo-wrapper{
		max-width:28rem;
	}

	.hero .main-logo{
		margin-top:60px;
	}

	.hero .saison-title{
    	font-size: 2.5rem;
	}

	.hero .saison-title h3{
		font-size: 1.5rem;
	}

	.hero .hotfresh-wrapper{
	    bottom: 50px;
	}

}



@media (--breakpoint-large){
	.hero .logo-wrapper{
		max-width:32rem;
	}

	.hero .saison-title{
    	font-size: 3rem;
	}

	.hero .saison-title h3{
    	top: 100px;
    	font-size: 2rem;
	}

	.hero .hotfresh-wrapper{
	    bottom: 30px;
	}

}










/* BUTTONS */
button{
	cursor:pointer;
}

.button{
	background-color:var(--near-black);
	border:none;
	color:var(--ms-fushia);
	text-decoration:none;
	padding:0.5rem;
	cursor:pointer;
}


.button svg{
	fill:var(--ms-fushia);
	display:inline-block;
	vertical-align:middle;
}

.button span{
	display:inline-block;
	vertical-align:middle;
}

.button-special{
	background-color:transparent;
	color:var(--near-black);
	padding:0;
}

.button-nude{
	background-color:transparent;
	color:var(--near-black);
	border:none;
	padding:0;
}

.button-comments{
	width:30px;
}

.button-caret{
	background-color:var(--white-10);
	color:var(--near-black);

}

.button-caret svg{
	fill:var(--near-black);
	float:right;
}

.button-player{
	background-image:url('../../bundles/tdsmarathon/images/playlist/playlist-bg.jpg');
	border:outset 1px white;
	border-radius:2px;
	padding:0.5rem;
}


.button-player .icon{
    display: inline-block;
    vertical-align: middle;
    fill:var(--near-black);
}




.button-save{
	position: relative;
	margin:0 auto;
    width: auto;
    text-align:center;
    display: inline-block;
}


.button-save button{
	border:none;
	background:transparent;
	color:var(--ms-fushia);
}

.button-switch span{
	margin-left:-8px;
	padding:18px;
	/*height:60px;*/
}
    








/* ICONS */
.icon--xxs{
	width:10px;
	height:10px;
}

.icon--xs{
	width:20px;
	height:20px;
}

.icon--s{
	width:30px;
	height:30px;
}

.icon--m{
	width:45px;
	height:45px;
}

.icon--l{
	width:60px;
	height:60px;
}


.icon--xl{
	width:100px;
	height:100px;
}

.icon-pencil{
	width:20px;
	height:30px;
}

.icon-points{
	height:30px;
}




@media (--breakpoint-not-small){ 
	.icon--xxs-ns{
		width:10px;
		height:10px;
	}

	.icon--xs-ns{
		width:20px;
		height:20px;
	}

	.icon--s-ns{
		width:30px;
		height:30px;
	}

	.icon--m-ns{
		width:45px;
		height:45px;
	}

	.icon--l-ns{
		width:60px;
		height:60px;
	}

	.icon--xl-ns{
		width:100px;
		height:100px;
	}


	.icon-pencil-ns{
		width:20px;
		height:30px;
	}
}


@media (--breakpoint-medium){ 
	.icon--xxs-m{
		width:10px;
		height:10px;
	}

	.icon--xs-m{
		width:20px;
		height:20px;
	}

	.icon--s-m{
		width:30px;
		height:30px;
	}

	.icon--m-m{
		width:45px;
		height:45px;
	}

	.icon--l-m{
		width:60px;
		height:60px;
	}

	.icon-pencil-m{
		width:20px;
		height:30px;
	}
}


@media (--breakpoint-large){ 
	.icon--xxs-l{
		width:10px;
		height:10px;
	}

	.icon--xs-l{
		width:20px;
		height:20px;
	}

	.icon--s-l{
		width:30px;
		height:30px;
	}

	.icon--m-l{
		width:45px;
		height:45px;
	}

	.icon--l-l{
		width:60px;
		height:60px;
	}

	.icon-pencil-l{
		width:20px;
		height:30px;
	}
}














/* THUMBNAILS */
.thumbnail--s{
	border:solid 1px var(--black-20);
	width:30px;
	height:30px;
}

.thumbnail--m{
	border:solid 1px var(--black-20);
	width:40px;
	height:40px;
}


.thumbnail--ml{
	border:solid 1px var(--black-20);
	width:50px;
	height:50px;
}


@media (--breakpoint-not-small){ 
	.thumbnail--s-ns{
		border:solid 1px var(--black-40);
		width:30px;
		height:30px;
	}

	.thumbnail--m-ns{
		border:solid 1px var(--black-40);
		width:40px;
		height:40px;
	}
}





/* GIFS */
.gif-basket{
	width:100px;
}

.sep-guitare{
	background-image:url('../../bundles/tdsmarathon/images/gifs/sep-guitare.gif');
	background-size: cover;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 350px;
}

@media (--breakpoint-not-small){
	.sep-guitare{
		height: 45px;
	}
}


.gif-basket-g{
	background-image:url('../../bundles/tdsmarathon/images/basket-g.png');
	background-repeat: no-repeat;
	background-size:100%;
	height:40px;
	width:80px;
}

.gif-basket-d{
	background-image:url('../../bundles/tdsmarathon/images/basket-d.png');
	background-repeat: no-repeat;
	background-size:100%;
	height:40px;
	width:80px;
}


.sep-accordeonazteque .azteque{
	background-image:url('../../bundles/tdsmarathon/images/gifs/sep-asteque.gif');
	background-repeat:repeat-x;
	height:10px;
	width:100%;
}

.sep-accordeonazteque .accordeon{	
	margin-top:-50px;	
}

.sep-accordeonazteque .accordeon span{
	display:block;
	background-image:url('../../bundles/tdsmarathon/images/gifs/accordeon.gif');
	background-repeat:no-repeat;
	background-size:100%;
	height:80px;
	width:100px;
	margin:0 auto;
}

.sep-flammes{
	margin-top:-30px;
	height:30px;
}

.sep-flammes .flammes{
	background-image:url('../../bundles/tdsmarathon/images/gifs/sep-flammes.gif');
	background-repeat:repeat-x;
	height:30px;
	width:100%;
}







/* TITLES */
.ms-title{
	font-family: 'New Rocker', cursive;
	color:var(--near-black);
	display:flex;
	justify-content:center;
	width:100%;
}

.ms-title h2{
	font-weight:100!important;
	font-size:1.8rem;
	margin:0;
	padding:0;
	line-height: 1.6rem;
	text-align:center;
	display:flex;
	justify-content:space-between;
}

@media (--breakpoint-not-small){ 
	.ms-title h2{
	    font-size:2.2rem;
	    line-height: 2rem;
	}
}

.ms-title h2>span{
    padding: 0 0.5rem;
}


@media (--breakpoint-medium){ 
	.ms-title h2>span{
	    padding: 0 1rem;
	}
}

@media (--breakpoint-large){ 
	.ms-title h2>span{
	    padding: 0 2rem;
	}
}







.ms-title_spikes{
	border-bottom: solid 3px var(--near-black);
	justify-content:space-between;
	height:50px;
	margin:0px 1px 40px 1px;
}

.ms-title_spikes h2{
	width:100%;
	margin-top: 31px;
	line-height: 2rem;
}


.ms-title_spikes h2:before, .ms-title_spikes h2:after{
	background-size: cover;
	width:60px;
	height:35px;
}

@media (--breakpoint-large){ 
	.ms-title_spikes h2:before, .ms-title_spikes h2:after{
		background-size: cover;
		width:60px;
		height:35px;
	}
} 



.ms-title_spikes h2:before{
	content:' ';
	background-image:url('../../bundles/tdsmarathon/images/icons/spike-left.svg');
	margin-left:-3px;
}

.ms-title_spikes h2:after{
	content:' ';
	background-image:url('../../bundles/tdsmarathon/images/icons/spike-right.svg');
	margin-right:-3px;
}

.ms-title_spikes h2>span{
    display: block;
    z-index: 3;
    min-height: 35px;
}


.ms-title_spikes_light{
	border-bottom: solid 3px var(--ms-light-gray);
}


.ms-title_spikes_light h2:before{
	content:' ';
	background-image:url('../../bundles/tdsmarathon/images/icons/spike-left-light.svg')!important;
}

.ms-title_spikes_light h2:after{
	content:' ';
	background-image:url('../../bundles/tdsmarathon/images/icons/spike-right-light.svg')!important;
}











.ms-title_turfu{
	font-family: 'Metal Mania', cursive;
	flex-wrap:wrap;
	flex:1 0 auto;
	/*justify-content:space-between;*/
	font-size:3rem;
	padding:0 0 2rem 0;
	height:auto;
	margin:0 0 2rem 0;
}

.ms-title_turfu_inner{
	margin-top: -50px;
}



.ms-title_turfu h2{
	flex:none;
	margin:0 auto;
	font-size:3rem;
}
.ms-title_turfu h2>span{
	margin:0 auto;
}

@media (--breakpoint-not-small){ 
	.ms-title_turfu h2{
		font-size:4rem;
		margin:0;
		align-self:flex-end;
	}


}

.ms-title_turfu .turfu-apple{
	margin:20px 0 20px 0;
	width:100%;
	height:44px;
}

.ms-title_turfu .turfu-apple span{
	display:block;
	background-image:url('../../bundles/tdsmarathon/images/turfu-apple.jpg');
	background-repeat:no-repeat;
	width:36px;
	height:100%;
	margin:0 auto;
}

@media (--breakpoint-not-small){
	.ms-title_turfu .turfu-apple{
		margin:-20px 0 20px 0;
	}

	.ms-title_turfu .turfu-apple span{
		display:inline-block;
		margin:0;
	} 
}




.ms-title_turfu .turfu-netscape{
	background-image:url('../../bundles/tdsmarathon/images/turfu-netscape.jpg');
	background-repeat:no-repeat;
	width:88px;
	height:31px;
	margin:0 auto 20px auto;

}

.ms-title_turfu .turfu-ie{
	background-image:url('../../bundles/tdsmarathon/images/turfu-ie.jpg');
	background-repeat:no-repeat;
	width:88px;
	height:31px;
	margin:20px auto 0 auto;
}


@media (--breakpoint-not-small){ 
	.ms-title_turfu .turfu-ie, .ms-title_turfu .turfu-netscape{
		margin:0;
	}
}





.ms-title_framed{
	background-image:url('../../bundles/tdsmarathon/images/frame-saison.png');
	background-repeat:no-repeat;
	background-size:100%;
	width: 90%;
    max-width: 590px;
    height: 80px;
    padding: 0;
    margin: 1rem auto 0 auto;
}

@media (--breakpoint-not-small){
	.ms-title_framed{
		padding: 4rem;
		height: 120px;
	    margin: 2rem auto;
	}
}

@media (--breakpoint-small-medium){
	.ms-title_framed{
		padding: 3rem;
	}
}

@media (--breakpoint-medium){
	.ms-title_framed{
		padding: 2rem;
	}
}

.ms-title_framed h2{
	font-family: 'Metal Mania', cursive;
	font-size:2.5rem;
	margin-top:-1rem;
}

@media (--breakpoint-not-small){ 
	.ms-title_framed h2{
		font-size:3rem;
		margin-top:0rem;
	}
}


.ms-title_framed .joggeur-cd-g{
	background-image:url('../../bundles/tdsmarathon/images/joggeur-cd-g.png');
	background-repeat:no-repeat;
	background-size: 100%;
    width: 121px;
    height: 71px;
	align-self:center;
}

.ms-title_framed .joggeur-cd-d{
	background-image:url('../../bundles/tdsmarathon/images/joggeur-cd-d.png');
	background-repeat:no-repeat;
	background-size: 100%;
    width: 121px;
    height: 71px;
	align-self:center;
}


@media (--breakpoint-medium){
	.ms-title_framed{
		width: 100%;
	}

	.ms-title_framed h2{
		font-size:2.5rem;
	}

	.ms-title_framed .joggeur-cd-g, .ms-title_framed .joggeur-cd-d {
		width: 70px;
    	height: 50px;
	}

}


.ms-subtitle{
	font-family: 'New Rocker', cursive;
	color:var(--near-black);
	font-size:1.5rem;
	/*margin:1rem 0 0 0;*/
}
.ms-subtitle h3{
	font-weight:100!important;
}







/* CADRES */
.shadow-subtle{
	border: outset 1px rgba(251, 249, 249, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.outset-frame{
	border:outset 1px #f9d5c3;
}

.outset-frame_inner{
	border:inset 1px #f9d5c3;
}

.outset-frame_pl{
	border:outset 1px #ded8d5;
}

.outset-frame_inner_pl{
	border:inset 1px #ded8d5;
}






/* VIGNETTE */
.vignette-theme-line{
	margin-bottom:0.5rem;
}

.vignette-theme-line:last-child{
	margin-bottom:0;
}

.vignette-theme-line_titre{
	max-width: 76%;
}



.vignette-infos-theme{
	min-height:90px;
}

.vignette-infos-joggeur{
	min-height:50px;
}








/* PLAYLIST */



@media (--breakpoint-medium){
	.playlist-wrapper-cols_minify>div{
		width:100%;
	}
}



.col-playlist-droite{

}
.col-playlist-droite .jp-playlist-inner{
	height:auto;
	max-height:110vh;
	overflow-x:hidden;
	overflow-y:auto;
}
.col-playlist-gauche{}




.playlist-item-wrapper{
	border-bottom: 1px solid var(--black-20);
	background: linear-gradient(
		to bottom,rgba(255, 255, 255, 0.9) -18%,
		rgba(223, 227, 222, 0.5) 12%,
		rgba(223, 227, 222, 0.3) 181%
	);
}

.jp-title-artist{
	flex-grow:2;
}

.playlist-index-body .playlist-item{
	border:none;
	background:transparent;
}

.playlist-index-body .jp-infos-title{
	max-height:40px;
}

.playlist-index-body .button-player{
	padding:0.2rem;
}

.playlist-index-body .jp-volume-bar{
	height:5px;
}

.playlist-item-wrapper.jp-playlist-current{
	background: linear-gradient(180deg,rgba(6, 161, 154, 0.5) -18%,rgba(139, 204, 198, 0.5) 12%,rgba(19, 181, 76, 0.3) 181%);
}

.playlist-item-wrapper.jp-playlist-current .jp-numero{
	color:var(--near-black);
}



.playlist-fleches{
	top:-20px;
}

.playlist-fleche{
	width:50px;
	height:50px;
}

.theme-nav-infos_left{	
	height:50px;
	top:0;
	left:-450px;
	overflow:hidden;
	transition:left 0.3s linear;
}

.theme-nav-infos_left.active{
	left:0px;
}



.theme-nav-infos_right{	
	height:50px;
	top:0;
	right:-450px;
	overflow:hidden;
	transition:right 0.3s linear;
}

.theme-nav-infos_right.active{
	right:0px;
}



.creativec-lien{
	width:80px;
}







/* SCORES / General */
.score-miniblock_vertical{
  	padding-left:3px;
  	min-width:33%;
  	max-width:37%;
}


.score-miniblock_vertical:first-child{
	padding-left:0px;
}






.score-miniblock_horizontal .typepoints{
	min-width:2.2rem;
}





/* PODIUM */
.podium-1, .podium-2{
	padding-left:2px;
}




@media (--breakpoint-not-small){
	.podium-1>div{
		min-height:420px;
	}


	.podium-2>div{
		min-height:400px;
	}
}


.podium-1 .medaillon-round{
	width:140%;
	margin-left:-20%;
	z-index:20;
}


.podium-2 .medaillon-round{
	width:130%;
	margin-left:-15%;
	z-index:19;
}

.podium-3 .medaillon-round{
	width:120%;
	margin-left:-10%;
	z-index:18;
}

.podium-helmet{
	margin-bottom:-4rem;
	z-index:21;
}

.podium-celtic svg{
	max-height:40px;
}


/* WALLS OF FAME */
.medaillon-round{
	display:block;
	border-radius:50%;
	overflow:hidden;
	margin:1rem 0.5rem;
}

/*@media (--breakpoint-not-small){
	.medaillon-round{
		width:95%;
		height:95%;
	}
}*/

.medaillon-round img{
	display:block;
}

.wof-item {
	padding-left:3px;
	
}

.wof-item:first{
	padding-left:0px;
}

.wof-item:last{
	padding-right:0px;
}

.wof-item_inner{
	background-color: rgba(241, 247, 3, 0.42);
}

.wof-item .wof-intitule{
	min-height: 140px;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.38);

}

.wof-item .wof-intitule h4{
	font-size:1.2rem;
	word-break: break-word;
	line-height:1rem;
}


/* CLASSEMENT */
.totale-score-item{
	min-height:40px;
}

.totale-score-item_ordre{
	min-width:40px;

}


.totale-score-item_pseudo{
	min-width:55%;
} 



/* LISTE DES SAISONS */

.saison-liste_image{
	min-height:150px;
	margin-bottom:0.5rem;
}

@media (--breakpoint-small-medium){
	.saison-liste_image{
		margin-bottom:0.5rem;
	}
}


/* ACTUALITES */
/*.article-wrapper{
	border: solid 1px rgba(251, 249, 249, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}*/


.content img{
	display:block;
	margin:0 auto;
	/*width:80%!important;
	height:auto!important;*/
}



    















/* COMMENTS */
.comment-action-buttons{
	margin-top:-20px;
}

    
#fos_comment_thread_wrapper{
    border: 1px solid var(--black-10);
    background-color: rgba(233, 234, 231, 0.3);
}


	

#fos_comment_thread >.fos_comment_comment_form_holder{
	padding:0 0 20px 0;
	margin-bottom:20px;
	border-bottom:dashed 1px var(--black-30);
}

#fos_comment_thread .fos_comment_comment_form_holder{
	width:100%;
	padding-top:30px;

}

.fos_comment_comment_new_form{
	margin: 0 auto;
	text-align:center;
}

.fos_comment_comment_bulle .fos_comment_comment_new_form{
    padding-right: 45px;
    margin: 0 0px 10px 0px;
    text-align:left;
}


.fos_comment_comment_form_content{
	flex-grow: 3;
    min-width: 25%;
    width:auto;
}

.fos_comment_comment_form_body{
	height:50px;
}


.fos_comment_comment_form_content textarea{
		background-color:var(--white-50);
		border:none;
		height:auto;
		width:100%;
		height:100%;
}



.fos_comment_comment_body_wrapper{
	padding: 0 0 20px 0px;
}


.fos_comment_comment_body{
	padding:10px;
}

@media (--breakpoint-not-small){
	.fos_comment_comment_show{
		border-left:solid 2px  rgba(0,0,0,0.2);	
		margin-left:25px;
	}


	.fos_comment_comment_show:before{
			content: '';
		    /*width: 14px;*/
		    height: 2px;
		    background: rgba(0,0,0,0.2);
		    position: absolute;
		    top: 25px;
		    /*left: -39px;*/
	}



	/*@media (--breakpoint-not-small){*/
		.fos_comment_comment_show:before{
				left:-69px;
				width: 45px;
		}
	/*}*/

	.fos_comment_comment_show:first-child{
		padding-top:0;
	}

	.fos_comment_comment_show:last-child:after{
		content: '';
	    position: absolute;
	    background: #bdbdbd;
	    bottom: 0;
	    left: -5px;
	    width: 7px;
	    height: 7px;
	    border: 3px solid rgba(0,0,0,0.2);
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	}


	.fos_comment_comment_show:last-child .fos_comment_thread-inner{
		padding-bottom:0;
	}
}

	


.fos_comment_comment_depth_0{
	margin-left:2rem;
}

@media (--breakpoint-not-small){
	.fos_comment_comment_depth_0{
		margin-left:0;
	}
}
	
	
.fos_comment_comment_depth_0:before{
		background:transparent!important;
}


.fos_comment_comment_replies{
	margin-left:10px;
	padding-bottom: 20px;
}

@media (--breakpoint-not-small){
	.fos_comment_comment_replies{
		margin-left:40px;
	}
}

.fos_comment_comment_authorImage{	
	overflow:hidden;
	margin-left:-25px;
	flex:1 1 50px;
	height:50px;
	flex-grow: 0;
}


.fos_comment_comment_inner-bulle{
	flex:1;
	box-shadow:1px 1px 2px gray;
	background-color: rgba(233,234,231,0.5);
	margin-left:10px;
	border-radius:0 0 5px 5px;
}

@media (--breakpoint-not-small){
	.fos_comment_comment_inner-bulle{
		margin-left:20px;
	}
}
			

.fos_comment_comment_inner-bulle:before{
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0) rgba(233,234,231,0.5);
	top: 8px;
	left:24px;
}

@media (--breakpoint-not-small){
	.fos_comment_comment_inner-bulle:before{
		left:33px;
	}
}

.fos_comment_comment_bulle .button-nude{
	position: relative;
    left: -25px;
    top: 5px;
}
    





.fos_comment_comment_body img{
		display:block;
		width:100%;

}

.fos_comment_comment_body a{
	display:block;
	text-decoration:underline;
	width: 100%;
	word-break: break-all;
	white-space: pre-wrap;
	overflow: hidden;
}

.fos_comment_comment_body iframe{
	display:block;
	width:100%;
}

.fos_comment_comment_body .video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.fos_comment_comment_body .embedded-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}








/* PANNEAU D'INFORMATION */
.pi-wrapper h3{
	margin-top: -1.5rem;
    font-size: 2.3rem;
}












/* FORMS */
.form-container{
		margin:0 -0.5rem 0 -0.5rem;
		padding:0.5rem 1rem;
		min-height:100vh;
		background-color:rgba(255,255,255,0.4);
}

@media (--breakpoint-not-small){
	.form-container{
		margin:0 -1rem 0 -1rem;
		padding:1rem 3rem;
	}
}



.form-container .ms-title{
	font-size:2.2rem;
	padding:1rem 0 2rem 0;
	margin:1rem auto 2rem auto;
	border-bottom:dashed 1px rgba(0,0,0,0.5);
}

.form-group {
	width:100%;
	/*flex-wrap:wrap;*/
	border: outset 1px rgba(251, 249, 249, 0.25);
    
	background-color:rgba(253,251,251,0.6);
	border-radius:5px;
	border:solid 1px rgba(0,0,0,0.1);
	padding:2rem;
	margin-bottom:1rem;
}

.form-flex{
	width:100%;
	display:flex;
	flex:1 1 auto;
}


.form-front-wrapper .form-group {
	border-radius:0px;
	width:100%;
}


@media (--breakpoint-medium){
	.form-group {
		width:90%;
		margin:0 auto 1rem auto;
	}
}

@media (--breakpoint-large){
	.form-group {
		width:70%;
		margin:0 auto 1rem auto;
	}
}

.form-label{
	min-width:20%;
	align-self: center;
	padding-right:1rem;
	text-align:right;
	
}


.form-widget{
	padding-left:1rem;
	border-left:solid 1px rgba(0,0,0,0.2);
}

.form-group input{
	border-radius:5px;
	padding:0.5rem;
	color:var(--dark-gray);
}

.form-date div{
	padding-left:1rem;
	flex:1 1 auto;
	align-self: center;
}



.form-error ul{
	width:100%;
	background-color:var(--ms-fushia);
	padding:0.4rem;
	font-style:italic;
	font-size:0.7rem;
	margin-top:0.5rem;
}

.form-error ul li{
	list-style:none;
}

.heartPoints-icon.is-active svg,
.heartPoints-icon.is-active ~ .heartPoints-icon svg{
	fill:var(--ms-fushia);
}





/*ACCORDION*/
.ui-accordion-header-active .icon-arrow-left{
	transform : rotate(-90deg);
}









/*FOOTER*/

.footer-wrapper{
	min-height:200px;
	box-shadow: 0 -4px 26px rgb(1, 73, 146);
    border-top: solid 1px #292135;
}

.sep-herbe{
	background-repeat:repeat-x;
	height:20px;
}


.footer-creditskm{
	height:120px;
}


.footer-kilometrage{
	bottom:35px;
}

.kilometrage-wrapper{
	position: absolute;
    width: 100%;
    bottom: 20px;
}



.kilometrage-borne span{
	background-image:url('../../bundles/tdsmarathon/images/footer/footer-borne-km.png');
	background-repeat:no-repeat;
	background-size:100%;
	display:block;
	margin:0 auto;
	width:80px;
	height:114px;
	top:0;
}


.footer-button {
	border:outset 1px white;
	z-index:1;
}


.footer-joggeurs{
	width:100%;
	pointer-events:none;
}


.jog{
	position:absolute;
	background-repeat:no-repeat;
	background-size:100%;
	width:60px;
	height:100px;
}


/*.jog1{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog1.gif');
	top:0px;

}*/
.jog2{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog2.gif');
	top:0%;
	right:20%;
	width: 93px;
    height: 100px;
}
.jog3{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog3.gif');
	top:-12px;
	left:8%;
	width:92px;
	height:100px;
}
.jog4{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog4.gif');
	top: -27px;
    right: 25%;
	width:45px;
	height:100px;
}
.jog5{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog5.gif');
	top:-5px;
	left:25%;
	width:60px;
	height:100px;
}
.jog6{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog6.gif');
	top: 0;
    right: 12%;
    width: 90px;
    height: 135px;
}
.jog7{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog7.gif');
	top:-20px;
	left:15%;
	width:60px;
	height:100px;
}
.jog8{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog8.gif');
	top: -7px;
    right: 2%;
    width: 28px;
    height: 96px;
}

.jog11{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog11.gif');
	top:-15px;
	left:2%;
	width:60px;
	height:160px;
	
}
.jog12{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog12.gif');
	top: -7px;
    right: 30%;
}

.jog14{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog14.gif');
	top: -25px;
    right: 40%;
    width: 32px;
    height: 100px;
}
.jog15{
	background-image:url('../../bundles/tdsmarathon/images/gifs/joggeurs/jog15.png');
	top:-20px;
	left:20%;
    width: 80px;
    height: 130px;
}




.pastis-lien{
	width:150px;
}










