<div class="pa3 pb5 center tc bg--pierre f7" >
	<h2 class="metal-mania f1">Crédits</h2>
	<h3 class="mt4 mb1">Général</h3>
	<span>Créé et maintenu par Bob Marathon aka Roland Bafius.<br/>
	Développement web 
	 par <a href="http://tiretdusix.net">Tiret du Six</a></span>
	 et <a href="http://webmecano.com/">Charles Torris</a>.

	<h3 class="mt4 mb1">Technologies</h3>
	<span>
	Framework / <a href="https://symfony.com/">Symfony</a><br/> 
	Frontend / <a href="http://twig.sensiolabs.org/">Twig</a>,  <a href="http://tachyons.io/">Tachyons</a>, <a href="http://jplayer.org/">JPlayer</a></span>

	<h3 class="mt4 mb1">Hébergement</h3>
	<span>
		<a class="pastis-lien db center" href="http://www.pastis-hosting.net/">
			<img src="{{ asset('bundles/tdsmarathon/images/footer/pastishosting-logo.png') }}" alt="logo pastis hosting"/>
		</a>
	</span>

	<h3 class="mt4 mb1">Svg / Icones</h3>
	<span> <a href="https://thenounproject.com">Noun Project</a> et <a href="https://icomoon.io/">icomoon</a><br/>
	Crédits svg : Edward Boatman, Naomi Atkinson, Tony Wallström, Björn Andersson,
	<br/> Nick Holroyd, Konrad Michalik, iconsmind, Vladislav Sergeev,Victografic, Arthur Shlain</span>

	<h3 class="mt4 mb1">Musiques</h3>
	<span>
	<a class="creativec-lien pas" href="http://creativecommons.org/licenses/by-sa/4.0/">
		<img src="{{ asset('bundles/tdsmarathon/images/icons/creativecommons-by-sa.svg') }}" alt="creative commons"/>
	</a><br/>
	Toute création musicale se situe sous licence Créative Commons.<br/>	 
	Toute utilisation d'un morceau devra être précédée de la demande au Joggeur/Auteur.</span>
</div>