<div class="pam align-center">
<h2 class="man pbm">Crédits</h2>
<h3 class="man pbn">Général</h3>
<span>créé et maintenu par Bob Marathon aka Roland Bafius.<br/>
développement web par <a href="http://tiretdusix.net">Tiret du six</a></span>.

<h3 class="man pbn pts">Technologies</h3>
<span>
Framework / <a href="https://symfony.com/">Symfony</a><br/> 
Frontend / <a href="">twig</a>,  <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://patternlab.io/">Pattern Lab</a></span>

<h3 class="man pbn pts">Hébergement</h3>
<span><a href="">Pastis Hosting</a></span>

<h3 class="man pbn pts">Svg / Icones</h3>
<span> <a href="https://thenounproject.com">Noun Project</a> et <a href="https://icomoon.io/">icomoon</a><br/>
Crédits svg : Edward Boatman, Naomi Atkinson, Tony Wallström, Björn Andersson, Nick Holroyd, Konrad Michalik, iconsmind, Vladislav Sergeev,Victografic, Arthur Shlain</span>

<h3 class="man pbn pts">Musiques</h3>
<span>Toute utilisation d'un morceau musical devra être précédée de la demande au Joggeur/Auteur.</span>
</div>