
<div class="kilometrage-content ">
	<div class="total-km flex-container-h">
		<div class="total-km-content flex-item-center">
			<div class="borne-km-icon"></div>	
		</div>	  
	</div>

	<div class="total-temps">
		<div class="b">Total</div>
		<span class="db">{{ kilometres }} km</span>
		<span class="db">{{ duree }}</span>
	</div>
</div>

