{% extends "TdSCoreBundle::layout.html.twig" %}

{% block body %}
{% if data is not null %}
	<div id="content" class="bg--lightgrey pam pbxxl align-center">
		<h1 class="main-title man align-center">Demande envoyée</h1>
		<p> Elle sera examinée par un groupe de 26 profs d'EPS.<br/>
		Si jamais ta demande est acceptée, tu recevras un mail de confirmation d'inscription</p>
		{% set webPath='../web/bundles/tdsmarathon/images/groupeProfs.jpg' %}
		<img width="400" src="{{ asset(webPath) }}" />
		<h3>Récap':</h3> 
		pseudo :{{ data.pseudo }}<br/>
		mail :{{ data.email }}<br/>
		candidature :{{ data.content }}<br/>
	</div>
{% endif %}

{% endblock %}