{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>Nouvel utilisateur enregistré</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <a class="btn btn-default" href="{{ path('tds_admin_home') }}">Retour à la liste des utilisateurs</a>
{% endblock fos_user_content %}
