{% block tdsmarathon_menu %}           
    <div id="menu" class="menu col-md-3">
            <ul class="nav nav-pills nav-stacked">
            	
            	<li><a class="btn btn-default" href="{{ path('tds_home') }}">Accueil</a></li>
            	{% if is_granted("ROLE_SUPER_ADMIN") %}
            		<li><a class="btn btn-default" href="{{ path('tds_admin_home') }}">
            			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            			utilisateurs
            			</a>
            		</li>
            		
            	{% endif %}
            	<li><a class="btn btn-default" href="{{ path('tds_marathon_theme_home') }}">Thèmes</a></li>
	              <li><a class="btn btn-default" href="{{ path('tds_marathon_joggeur_home') }}">Joggeurs</a></li>
	              
	              
            </ul>
    </div>
{% endblock %}